.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
.gitignore
.clinerules
tsconfig.json
eslint.config.mjs
vsc-extension-quickstart.md
node_modules
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
out/test/**
test/**
*.vsix
.git
.github/**
docs/**
!docs/README.md
**/package-lock.json
**/*.ts
.editorconfig
.prettierrc
.prettierignore
