.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
.gitignore
.clinerules
tsconfig.json
eslint.config.mjs
vsc-extension-quickstart.md
node_modules/**
!node_modules/axios/**
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
out/test/**
test/**
